body{
    background-color: #313131;
    color:white;
}
.container{
    width:90%;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    margin:0 auto;
}

.container div{
    flex:1 1 250px;
    text-align: center;
    outline:1px solid white;
    padding:5px;
}

.container div img{
    width:100%;
    object-fit: fill;
    height:150px;
}